# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
*.egg
.env

# Java
target/
*.class
*.jar
*.war
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Docker
mysql_data/
redis_data/
etcd_data/
minio_data/
milvus_data/

# Logs
*.log
logs/
